* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Minecraftia, Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(90, 90, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    height: 100vh;
    width: 100vw;
}

.libraryContainer {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px black;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
}

.libraryContainer > .header {
    border-bottom: 1px solid black;
}

.libraryContainer > .addBook {
    border-right: 1px solid black;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1;
    overflow: auto;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header p {
    font-size: xx-large;
}

.header > img {
    width: 7%;
    height: auto;
}

.addBook {
    grid-column: 1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 5fr;
    overflow: auto;
}

.addBookHeader {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 25px;
}
.addBookImage {
    height: 5em;
    width: 5em;
}

.bookshelf {
    grid-column: 2;
    grid-row: 2 / 3;
    display: grid;
    padding: 20px;
    gap: 20px;
    overflow: scroll;
}

.book-card {
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.infoContainer {
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addBook p {
    justify-self: center;
    align-self: center;
    font-size: 2em;
}

.addBookForm {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.addBookFormInput {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}

.readStatusContainer {
    display: flex;
    justify-content: space-between;
}

#bookTitle, #bookAuthor, #bookPages {
    height: 2em;
    font-size: large;
    padding: 0px 10px;
    border: none;
    border-radius: 25px;
    background-color: rgb(231, 231, 231);
}

button {
    font-size: large;
    height: 2em;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 0px 5px 0px black;
}

.buttonContainer > button {
    font-size: medium;
}

button:hover {
    box-shadow: 0px 0px 2px 0px black;
}

button:active {
    box-shadow: inset 0px 0px 3px 0px black;
}